:root {
  --main-color: #3ea9d7;
  --text-color: #ffffff;
  --dark-color: #2a3146;
  --light-color:#c3c8d4;
  --light-bg:#f8f8fa;
  --offwhite-bg:#edf2f5;
}


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
